body{ 
 



}





h1{   
text-decoration-color:rebeccapurple ;
align-content: center;
color: rgb(236, 18, 18);


}
div{ background-color: aqua;
height: auto;
width: auto;


}
h1{ font-family: monospace ;}